<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="composer-remove-paths">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>